.footer-ordi {
    background-color: black;
    color: white;
    height: 230px;
    align-items: center;
    padding-top: 3%;
}

.footer-mobile {
    display: none;
    background-color: black;
    height: 329px;
    color: white;
    padding-top: 10%;
    padding-bottom: 3%;
    align-items: center;
}

.footer-mobile-container {
    height: 100%;
}

.footer-mobile p {
    font-family: Hurme-Regular, sans-serif ;
    font-size: 13px;
}
.img-footer-mobile-container {
    margin: 0 auto;
    width: 118px
}
.img-footer-mobile-container img {
    width: 100%;
    align-self: center;
}
.footer-mobile-contact {
    width: 16%;
    margin: 0 auto;
}

.contact-container {
    width: 100%;
}
.footer-mobile-innner {
    width: 80%;
    margin: 5% auto;
}
.footer-column {
    width: 20%;
    align-items: center;
}
.footer-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.img-footer-container img{
    width: 90%;
}

.phone {
    font-family: Hurme-Bold, sans-serif !important;
}

.footer-container p {
    font-family: Hurme-Semi-Bold, sans-serif;
}


@media screen and (max-width: 700px){
    .footer-mobile-contact {
        width: 20%;
        text-align: center;
    }
}

@media screen and (max-width: 550px){
    .footer-mobile-contact {
        width: 25%;
        text-align: center;
    }
}