.left h1{

}

.home-container {
  display: flex;
}

.arrowMobileWhite {
  display: none;
}



.arrowMobileBlue {
  display: none;
}

.left {
  width: 50%;
  padding-left: 5%;
  z-index: 1;
  padding-top: 3%;
  position: relative;
  background: linear-gradient(149.71deg, #A785FE 0%, #5777FF 100%);
}

.left img {
  width: 73%;
}

.right {
  width: 50%;
  align-items: center;
  padding-top: 5%;
  position: relative;
  z-index: 1;
}

.be-vogzter p {
  font-family: Hurme-Bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.be-vogzter {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  bottom: 3%;
  left: 28%;
  width: 40%;
  color: #5777FF;
  text-align: center;
  cursor: pointer;
}

.be-marque {
  background-color: #5777FF;
  border-radius: 10px;
  width: 40%;
  margin: 1% auto;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 2.5% 5%;

}

.be-marque p {
  margin: 0;
}

.be-vogzter:hover {
  background-color: #5777FF;
  color: white;
}
.be-marque:hover {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  color: #5777FF;
}

.be-marque p {
  font-family: Hurme-Bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
}


.middle {
  width: 20%;
  padding-top: 3%;
  padding-left: 1.1%;
  padding-right: 1.1%;
  position: absolute;
  left: 40%;
  align-items: center;
  top: 25%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(63, 63, 63, 0.65);
  border-radius: 15px;
  z-index: 3;
}

.middle p {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  margin-top: 0;
  color: #7C7C7C;
}

.middle h5 {
  font-family: Hurme-Bold, sans-serif;
  color: #615AF6;
  line-height: 40px;
  font-size: 30px;
  max-width: 90%;
  margin: 7% auto;
  text-align: center;
}

.vogzLogo {
  width: 39%;
  margin: 3% auto;
}

.right img {
  width: 56%;
  margin-left: 22%;
}

.vogzLogoImg {
  width: 100%;

}

.blueText {
  color: #78A6FD;
  font-weight: bold;
  font-family: Hurme-Bold, serif;
}

.arrowsImg {
  width: 25%;
  top: 80%;
  z-index: 4;
  left: 37.5%;
  position: absolute;
}




@media screen and (max-width: 1700px){
  .be-marque {
    left: 35%;
  }
  .middle {
    left: 40%;
    top: 20%;
  }
  .be-vogzter {
    left: 29%;
  }
}

@media screen and (max-width: 1600px){
  .middle {
    width: 20%;
    left: 40%;
  }
}

@media screen and (max-width: 1500px){
  .middle {
    width: 20%;
    left: 40%;
    top: 15%;
  }
  .right {
    padding-top: 5%;
  }
  .be-marque {
    width: 50%;
  }
  .be-vogzter {
    width: 50%;
    left: 22%;
  }
  .middle {
    width: 25%;
    left: 37%;
  }
}

@media screen and (max-width: 1400px){
  .middle {
    width: 25%;
    left: 37%;
    top: 15%;
  }
  .be-marque {
    padding: 3% 5%;
  }
}

@media screen and (max-width: 1250px){
  .middle h5 {
    max-width: 100%;
  }
  .be-marque {
    margin: 3% auto;
  }
  .left img {
    width: 75%;
  }
}

@media screen and (max-width: 1200px){
  .arrowsImg {
    top: 60%;
  }
  .left img {
    width: 77%;
  }
  .middle h5 {
    font-size: 25px;
    line-height: 35px;
    max-width: 100%;
  }
  .middle p {
    font-size: 15px;
  }
  .be-marque {
    padding: 3.5% 5%;
  }
}


@media screen and (max-width: 1100px){
  .be-marque {
    width: 55%;
  }
  .be-vogzter {
    width: 55%;
    left: 21%;
  }

}
@media screen and (max-width: 950px){
  .middle {
    width: 30%;
    left: 34%;
    top: 10%;
  }
  .left {
    padding-left: 0;
  }
  .left img {
    width: 71%;
  }
  .right img {
    margin-left: 28%;
  }
  .middle h5 {
  font-size: 20px;
    line-height: 27px;
  }
  .arrowsImg {
    top: 60%;
  }
  .be-vogzter {
    width: 60%;
    left: 19%;
  }
  .be-marque {
    width: 60%;
    padding: 4.5% 5%;
  }
}

@media screen and (max-width: 750px){
  .be-marque {
    width: 75%;
    left: 25%;
  }
  .be-vogzter {
    width: 75%;
    left: 10%;
  }
  .middle {
    top: 5%;
  }
}

@media screen and (max-width: 650px){
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
  }
  .left {
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 15%;
  }
  .arrowsImg {
    display: none;
  }
  .be-vogzter {
    bottom: 90%;
    left: 24%;
    width: 50%;
    padding: 2% 5%;
  }
  .be-vogzter p {
    font-size: 15px;
    margin: 0;
  }
  .left img {
    width: 85%;
  }
  .middle {
    width: 70%;
    top: 65%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }
  .middle h5 {
    margin-bottom: 7%;
    margin-top: 3%;
  }
  .right {
    padding-top: 55%;
    padding-bottom: 5%;
  }
  .be-marque p {
    font-size: 15px;
  }
  .be-marque {
    width: 50%;
    top: 15%;
    padding: 2% 5%;
    position: absolute;
  }
  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 70%;
    left: 10%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 100%;
    right: 10%;
    position: absolute;
  }
}

@media screen and (max-width: 650px){

  .middle {
    width: 70%;
    top: 65%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .right {
    flex-direction: column-reverse;
  }


  .right img {
    width: 100%;
    margin-left: 0;
  }
  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 85%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 60%;
    right: 10%;
    position: absolute;
  }
  .vogzLogo {
    width: 22%;
    margin: 10% auto;
  }
}


@media screen and (max-width: 600px){

  .middle {
    width: 70%;
    top: 60%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 77%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 55%;
    right: 10%;
    position: absolute;
  }
}


@media screen and (max-width: 570px){

  .middle {
    width: 70%;
    top: 57%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 75%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 53%;
    right: 10%;
    position: absolute;
  }
}

@media screen and (max-width: 550px){

  .middle {
    width: 70%;
    top: 54%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 70%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 50%;
    right: 8%;
    position: absolute;
  }
}

@media screen and (max-width: 520px){

  .middle {
    width: 70%;
    top: 50%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 65%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 45%;
    right: 8%;
    position: absolute;
  }
}

@media screen and (max-width: 500px){

  .middle {
    width: 70%;
    top: 46%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 62%;
    left: 7%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 41%;
    right: 8%;
    position: absolute;
  }
}

@media screen and (max-width: 470px){


  .middle {
    width: 70%;
    top: 44%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }
  .right img {
    margin-top: 5%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 62%;
    left: 7%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 38%;
    right: 8%;
    position: absolute;
  }
  .be-marque {
    top: 17%;
  }
}



@media screen and (max-width: 450px){

  .middle {
    width: 70%;
    top: 42%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }
  .right img {
    margin-top: 5%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 57%;
    left: 7%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 38%;
    right: 8%;
    position: absolute;
  }
  .be-marque {
    top: 17%;
  }
}

@media screen and (max-width: 430px){

  .middle {
    width: 70%;
    top: 40%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 54%;
    left: 7%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 36%;
    right: 8%;
    position: absolute;
  }

}

@media screen and (max-width: 410px){

  .middle {
    width: 70%;
    top: 38%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 54%;
    left: 7%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 33%;
    right: 8%;
    position: absolute;
  }
  .be-marque {
    width: 60%;
    left: 20%;
  }
  .be-vogzter {
    width: 60%;
    left: 20%;
  }
}


@media screen and (max-width: 390px){

  .middle {
    width: 70%;
    top: 36%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    top: 50%;
    left: 5%;
  }
  .arrowMobileWhite {
    top: 31%;
    right: 8%;
  }
}

@media screen and (max-width: 370px){

  .middle {
    top: 34%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .right {
    padding-top:  80%;
  }
  .be-marque {
    top: 23%;
  }
  .arrowMobileBlue {
    top: 48%;
    left: 5%;
  }
  .arrowMobileWhite {
    top: 30%;
    right: 8%;
  }
}

@media screen and (max-width: 350px){

  .middle {
    top: 32%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .right {
    padding-top:  80%;
  }
  .be-marque {
    top: 23%;
  }
  .arrowMobileBlue {
    top: 48%;
    left: 5%;
  }
  .arrowMobileWhite {
    top: 30%;
    right: 8%;
  }
}




