.left h1{

}

.home-container {
  display: flex;
}

.arrowMobileWhite {
  display: none;
}

.arrowMobileBlue {
  display: none;
}

.left {
  width: 50%;
  padding-left: 5%;
  z-index: 1;
  position: relative;
  background: linear-gradient(149.71deg, #A785FE 0%, #5777FF 100%);
}

.right {
  width: 50%;
  align-items: center;
  padding-left: 10%;
  padding-top: 5%;
  position: relative;
  z-index: 1;
}

.be-vogzter p {
  font-family: Hurme-Bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #5777FF;

}

.be-vogzter {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  bottom: 3%;
  left: 22%;
  width: 40%;
  text-align: center;
  cursor: pointer;
}

.be-marque {
  background-color: #5777FF;
  position: absolute;
  border-radius: 10px;
  bottom: 3%;
  left: 28%;
  width: 40%;

  text-align: center;
  cursor: pointer;
}

.be-marque p {
  color: white;
  font-family: Hurme-Bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.middle {
  width: 15%;
  padding-top: 3%;
  padding-left: 1.1%;
  padding-right: 1.1%;
  position: absolute;
  left: 42%;
  top: 25%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(63, 63, 63, 0.65);
  border-radius: 15px;
  z-index: 3;
}

.middle p {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  text-align: center;

  color: #7C7C7C;
}

.middle h5 {
  font-family: Hurme-Bold, sans-serif;
  color: #615AF6;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
}

.vogzLogo {
  width: 30%;
  margin: 0 auto;
}

.vogzLogoImg {
  width: 100%;
}

.blueText {
  color: #78A6FD;
  font-weight: bold;
}

.arrowsImg {
  width: 25%;
  top: 65%;
  z-index: 4;
  left: 37.5%;
  position: absolute;
}



@media screen and (max-width: 1900px){
  .be-marque {
    left: 31%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 1700px){
  .be-marque {
    left: 35%;
  }
  .middle {
    left: 43%;
    top: 20%;
  }
  .be-vogzter {
    left: 29%;
  }
}

@media screen and (max-width: 1600px){
  .left {
    padding-left: 0%;
  }
  .middle {
    width: 20%;
    left: 40%;
  }
}

@media screen and (max-width: 1500px){
  .left {
    padding-left: 0%;
    padding-top: 5%;
  }
  .middle {
    width: 20%;
    left: 40%;
    top: 15%;
  }
  .left img {
    width: 80%;
  }
  .be-vogzter {
    left: 18%;
    bottom: 1%;
  }
  .right img {
    width: 90%;
  }
  .be-marque {
    left: 40%;
    bottom: 1%;
  }
  .right {
    padding-top: 3%;
  }
}

@media screen and (max-width: 1400px){
  .middle {
    width: 25%;
    left: 37%;
    top: 15%;
  }
  .be-vogzter {
    left: 18%;
    bottom: 1%;
  }
  .be-marque {
    left: 37%;
    bottom: 1%;
  }
  .right img {
    width: 90%;
  }
}

@media screen and (max-width: 1200px){
  .arrowsImg {
    top: 50%;
  }
  .middle h5 {
    font-size: 25px;
    line-height: 35px;
  }
  .middle p {
    font-size: 15px;
  }
  .be-marque {
    width: 50%;
    left: 32%;
  }
  .be-vogzter {
    width: 50%;
    left: 15%;
  }
}

@media screen and (max-width: 900px){
  .left img {
    width: 70%;
  }
  .right img {
    width: 80%;
  }
  .middle {
    width: 30%;
    left: 34%;
  }
  .middle h5 {
  font-size: 20px;
    line-height: 27px;
  }
  .arrowsImg {
    top: 60%;
  }
  .right {
    padding-left: 15%;
    padding-top: 5%;
  }
  .be-vogzter {
    width: 60%;
    left: 10%;
  }
  .be-marque {
    width: 60%;
  }
}

@media screen and (max-width: 750px){
  .be-marque {
    width: 70%;
    left: 25%;
  }
}

@media screen and (max-width: 650px){
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
  }
  .left {
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 15%;
  }
  .arrowsImg {
    display: none;
  }
  .be-vogzter {
    top: 5%;
    left: 28%;
    width: 50%;
    height: 40px;
  }
  .be-vogzter p {
    font-size: 15px;
    margin-top: 4%!important;
  }
  .left img {
    width: 85%;
  }
  .middle {
    width: 70%;
    top: 113%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }
  .middle h5 {
    margin-bottom: 2%;
    margin-top: 3%;
  }
  .right {
    padding-top: 55%;
    padding-bottom: 5%;
  }
  .be-marque p {
    font-size: 15px;
    margin-top: 4%!important;
  }
  .be-marque {
    width: 50%;
    height: 40px;
    top: 20%;
  }
  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 140%;
    left: 10%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 100%;
    right: 10%;
    position: absolute;
  }
}

@media screen and (max-width: 650px){

  .middle {
    width: 70%;
    top: 105%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 130%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 95%;
    right: 10%;
    position: absolute;
  }
}

@media screen and (max-width: 550px){

  .middle {
    width: 70%;
    top: 95%;
    padding-left: 9%;
    padding-right: 9%;
    left: 15%;
  }

  .arrowMobileBlue {
    display: block;
    position: absolute;
    z-index: 5;
    top: 120%;
    left: 9%;
  }
  .arrowMobileWhite {
    display: block;
    z-index: 5;
    top: 85%;
    right: 10%;
    position: absolute;
  }
}

@media screen and (max-width: 520px){

  .middle {
    top: 90%;
  }

  .arrowMobileBlue {
    top: 115%;
    left: 9%;
  }
  .arrowMobileWhite {
    top: 80%;
    right: 10%;
  }
}

@media screen and (max-width: 500px){

  .middle {
    width: 70%;
    top: 85%;
  }

  .arrowMobileBlue {
    top: 110%;
    left: 8%;
  }
  .arrowMobileWhite {
    top: 75%;
    right: 10%;
  }
}

@media screen and (max-width: 470px){

  .middle {
    width: 70%;
    top: 80%;
  }

  .arrowMobileBlue {
    top: 105%;
    left: 8%;
  }
  .arrowMobileWhite {
    top: 70%;
    right: 10%;
  }
}

@media screen and (max-width: 450px){

  .middle {
    width: 70%;
    top: 75%;
  }

  .arrowMobileBlue {
    top: 100%;
    left: 7%;
  }
  .arrowMobileWhite {
    top: 65%;
    right: 10%;
  }
}


@media screen and (max-width: 450px){

  .middle {
    width: 70%;
    top: 73%;
  }

  .arrowMobileBlue {
    top: 100%;
    left: 7%;
  }
  .arrowMobileWhite {
    top: 65%;
    right: 10%;
  }
}


@media screen and (max-width: 410px){

  .middle {
    width: 70%;
    top: 70%;
  }

  .arrowMobileBlue {
    top: 95%;
    left: 6%;
  }
  .arrowMobileWhite {
    top: 60%;
    right: 10%;
  }
}


@media screen and (max-width: 390px){

  .middle {
    width: 70%;
    top: 67%;
  }

  .arrowMobileBlue {
    top: 90%;
    left: 6%;
  }
  .arrowMobileWhite {
    top: 58%;
    right: 10%;
  }
  .right {
    padding-top: 65%;
  }
  .be-marque {
    top: 25%;
  }
}

@media screen and (max-width: 370px){

  .middle {
    width: 70%;
    top: 62%;
  }

  .arrowMobileBlue {
    top: 85%;
    left: 6%;
  }
  .arrowMobileWhite {
    top: 53%;
    right: 10%;
  }
  .right {
    padding-top: 65%;
  }
  .be-marque {
    top: 25%;
  }
}

@media screen and (max-width: 350px){

  .middle {
    width: 70%;
    top: 58%;
  }

  .arrowMobileBlue {
    top: 80%;
    left: 5%;
  }
  .arrowMobileWhite {
    top: 51%;
    right: 8%;
  }
  .right {
    padding-top: 65%;
  }
  .be-marque {
    top: 25%;
  }
}




